<!doctype html>
<html lang="en">

<style>
  hr.solid {
    border-top: 1px solid;
  }

  .image-box {
    max-width: 1000px;
    height: 250px;
  }

  .image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ .title }} ({{ .version }})</title>

  <!-- Bootswatch Cosmo CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css"
    integrity="sha384-5QFXyVb+lrCzdN228VS3HmzpiE7ZVwLQtkt+0d9W43LQMzz4HBnnqvVxKg6O+04d" crossorigin="anonymous">
</head>

<body style="background-color: #e9ecef">
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <a class="navbar-brand" href="/"><b>{{ .title }}</b> ({{ .version }})</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Flight Simulator 2020 <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Elite Dangerous (coming soon)</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="jumbotron">
    <div class="image-box">
      <img src="https://assets-prd.ignimgs.com/2020/07/13/microsoft-flight-simulator-button-01b-1594670655053.jpg" />
    </div>
    <div class="form-group">
      Add input configuration filesfrom
      <b>%LOCALAPPDATA%\Packages\Microsoft.FlightSimulator_8wekyb3d8bbwe\SystemAppData\wgs</b>
      <select multiple="" class="form-control col-sm-4" id="files" rows="3">
      </select>
      <div id="progressbar" style="display: none" class="progress">
        <div class="progress-bar bg-primary progress-bar-striped progress-bar-animated col-sm-4" role="progressbar"
          aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
      </div>
    </div>
    <input id="filesInput" type="file" multiple style="display:none" />
    <button id="addButton" type="button" class="btn btn-success">Add File(s)</button>
    &emsp;
    <button id="generateButton" type="button" class="btn btn-primary" disabled>Generate Reference Card</button>
    <div id="images"/>
  </div>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>

  <script src="script.js"></script>
</body>

</html>