{{template "header.html" .}}
<script>
function mrcPageReady() {
  let game = 'fs2020';
  registerHandlers(game);
  ga('set', 'game', game);
}
</script>
<div id="fs2020">
  <div class="image-box-crop">
    <img src="https://assets-prd.ignimgs.com/2020/07/13/microsoft-flight-simulator-button-01b-1594670655053.jpg" />
  </div>
  <div class="form-group">
    Add input configuration files from:<br>
    <b>Steam Version:</b>
    <span id="fs2020SteamPath">%PROGRAMFILES%Steam\userdata\&lt;USERDATA&gt;\1250410\remote</span>
    <br>
    <b>Microsoft Store Version:</b>
    <span id="fs2020MsStorePath">%LOCALAPPDATA%\Packages\Microsoft.FlightSimulator_8wekyb3d8bbwe\SystemAppData\wgs</span>
    <br>
    <button class="btn btn-sm btn-outline-dark" onclick="copyTextFromElement(fs2020SteamPath, console.error)">Copy <b>Steam<b> path to
      clipboard</button>
    <button class="btn btn-sm btn-outline-dark" onclick="copyTextFromElement(fs2020MsStorePath, console.error)">Copy <b>MS Store</b> path to
      clipboard</button>
    <p></p>
    <select multiple="" class="form-control col-sm-4" id="fs2020Files" rows="3">
    </select>
    <div id="fs2020Progressbar" style="display: none" class="progress">
      <div class="progress-bar bg-primary progress-bar-striped progress-bar-animated col-sm-4" role="progressbar"
        aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
    </div>
  </div>
  <input id="fs2020FilesInput" type="file" multiple style="display:none" />
  <button id="fs2020AddButton" type="button" class="btn btn-success">Add File(s)</button>
  &emsp;
  <button id="fs2020GenerateButton" type="button" class="btn btn-primary" disabled>Generate Reference
    Card</button>
  <div id="fs2020Images" />
</div>
{{template "footer.html" .}}