{{if .Logs}}
  <hr class="my-4 solid">
  <div class="alert alert-dismissible alert-warning">
    <h4 class="alert-heading"><b>Errors encountered</b></h4>
    <button class="source-button btn btn-outline-dark btn-sm btn-top-right" role="button"
      onclick="copyTextFromElement(mrcErrors, console.error)">Copy errors to clipboard</button>
    <p class="alert-link"> Please file an issue <a target="_blank" 
            href="https://github.com/ankurkotwal/metarefcard/issues/new?assignees=&labels=&template=bug_report.md&title=">here</a>
            and attach the input files from above (to help reporduce the issue). Also copy/paste the errors in the issue. Thanks.
    </p>
    <hr class="my-4 solid">
    <div id="mrcErrors">
      {{range .Logs}}{{.Msg}}<br>
      {{end}}
    </div>
  </div>
{{end}}